body{
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  color: #ecb390;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
p{
  line-height: 2;
}
h2{
  color: #ecb390;
  font-weight: normal;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color: #df7861;
  font-family: #40514E;
}
.top-container{
  background-color: #fcf8e8;
  position: relative;
  padding-top: 100px;
}
.top-cloud{
  position : absolute;
  right: 250px;
  top: 50px;
}
.bottom-cloud{
  position : absolute;
  left: 200px;
  bottom: 300px;
}
.profilepicture{
  margin-top: 100px;

}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.artificial-intelligence{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.web-designing{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.bio{
  margin-left: 370px;
  margin-right: 370px;
  margin-bottom: 75px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
.contact-me{
  padding-top: 50px;
  padding-bottom: 100px;
}
.bottom-container{
  background-color: #ecb390;
  padding: 50px 0 20px;
}
.footer-link{
  margin-top: 100px;
  padding-top: 50px;
  margin-right: 75px;
  margin-bottom: 50px;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
.name{
  padding-top: 10px;
  font-size: 0.75rem;
  color: #EAF6F6;
}
